---
import '../styles/global.css';
import mainScriptContent from '../scripts/main.js?raw';
const htmlAttrs = {
  xmlnsOg: 'http://opengraphprotocol.org/schema/',
  xmlnsFb: 'http://www.facebook.com/2008/fbml',
  lang: 'en-US',
  class: 'no-js',
};
const bodyAttrs = {
  id: 'collection-6719d492c1d7644f3ed8779a',
  class: 'tweak-blog-alternating-side-by-side-width-full tweak-blog-alternating-side-by-side-image-aspect-ratio-11-square tweak-blog-alternating-side-by-side-text-alignment-left tweak-blog-alternating-side-by-side-read-more-style-show tweak-blog-alternating-side-by-side-image-text-alignment-middle tweak-blog-alternating-side-by-side-delimiter-bullet tweak-blog-alternating-side-by-side-meta-position-top tweak-blog-alternating-side-by-side-primary-meta-categories tweak-blog-alternating-side-by-side-secondary-meta-date tweak-blog-alternating-side-by-side-excerpt-show  form-field-style-solid form-field-shape-square form-field-border-all form-field-checkbox-type-icon form-field-checkbox-fill-solid form-field-checkbox-color-inverted form-field-checkbox-shape-square form-field-checkbox-layout-stack form-field-radio-type-icon form-field-radio-fill-solid form-field-radio-color-normal form-field-radio-shape-pill form-field-radio-layout-stack form-field-survey-fill-solid form-field-survey-color-normal form-field-survey-shape-pill form-field-hover-focus-outline form-submit-button-style-label  tweak-global-animations-complexity-level-detailed tweak-global-animations-animation-style-fade tweak-global-animations-animation-type-none tweak-global-animations-animation-curve-ease tweak-blog-masonry-width-full tweak-blog-masonry-text-alignment-left tweak-blog-masonry-primary-meta-categories tweak-blog-masonry-secondary-meta-date tweak-blog-masonry-meta-position-top tweak-blog-masonry-read-more-style-show tweak-blog-masonry-delimiter-space tweak-blog-masonry-image-placement-above tweak-blog-masonry-excerpt-show tweak-portfolio-grid-overlay-width-full tweak-portfolio-grid-overlay-height-large tweak-portfolio-grid-overlay-image-aspect-ratio-11-square tweak-portfolio-grid-overlay-text-placement-center tweak-portfolio-grid-overlay-show-text-after-hover image-block-poster-text-alignment-center image-block-card-content-position-center image-block-card-text-alignment-center image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-content-position-top image-block-collage-text-alignment-left image-block-stack-text-alignment-left tweak-blog-single-column-width-full tweak-blog-single-column-text-alignment-left tweak-blog-single-column-image-placement-above tweak-blog-single-column-delimiter-bullet tweak-blog-single-column-read-more-style-hide tweak-blog-single-column-primary-meta-date tweak-blog-single-column-secondary-meta-none tweak-blog-single-column-meta-position-above-title tweak-blog-single-column-content-full-post header-width-full tweak-transparent-header  tweak-fixed-header-style-basic tweak-blog-item-width-medium tweak-blog-item-text-alignment-center tweak-blog-item-meta-position-above-title  tweak-blog-item-show-date   tweak-blog-item-delimiter-bullet tweak-blog-side-by-side-width-full tweak-blog-side-by-side-image-placement-left tweak-blog-side-by-side-image-aspect-ratio-11-square tweak-blog-side-by-side-primary-meta-categories tweak-blog-side-by-side-secondary-meta-date tweak-blog-side-by-side-meta-position-top tweak-blog-side-by-side-text-alignment-left tweak-blog-side-by-side-image-text-alignment-middle tweak-blog-side-by-side-read-more-style-show tweak-blog-side-by-side-delimiter-bullet tweak-blog-side-by-side-excerpt-show primary-button-style-solid primary-button-shape-pill secondary-button-style-solid secondary-button-shape-square tertiary-button-style-solid tertiary-button-shape-square tweak-events-stacked-width-full tweak-events-stacked-height-large tweak-events-stacked-show-past-events tweak-events-stacked-show-thumbnails tweak-events-stacked-thumbnail-size-32-standard tweak-events-stacked-date-style-side-tag tweak-events-stacked-show-time tweak-events-stacked-show-location  tweak-events-stacked-show-excerpt  tweak-blog-basic-grid-width-inset tweak-blog-basic-grid-image-aspect-ratio-32-standard tweak-blog-basic-grid-text-alignment-center tweak-blog-basic-grid-delimiter-bullet tweak-blog-basic-grid-image-placement-above tweak-blog-basic-grid-read-more-style-show tweak-blog-basic-grid-primary-meta-categories tweak-blog-basic-grid-secondary-meta-date tweak-blog-basic-grid-excerpt-show tweak-portfolio-grid-basic-width-full tweak-portfolio-grid-basic-height-large tweak-portfolio-grid-basic-image-aspect-ratio-11-square tweak-portfolio-grid-basic-text-alignment-left tweak-portfolio-grid-basic-hover-effect-fade header-overlay-alignment-center tweak-portfolio-index-background-link-format-stacked tweak-portfolio-index-background-width-full tweak-portfolio-index-background-height-large  tweak-portfolio-index-background-vertical-alignment-middle tweak-portfolio-index-background-horizontal-alignment-center tweak-portfolio-index-background-delimiter-none tweak-portfolio-index-background-animation-type-fade tweak-portfolio-index-background-animation-duration-medium tweak-portfolio-hover-follow-layout-inline  tweak-portfolio-hover-follow-delimiter-bullet tweak-portfolio-hover-follow-animation-type-fade tweak-portfolio-hover-follow-animation-duration-fast tweak-portfolio-hover-static-layout-inline tweak-portfolio-hover-static-front tweak-portfolio-hover-static-delimiter-hyphen tweak-portfolio-hover-static-animation-type-fade tweak-portfolio-hover-static-animation-duration-fast hide-opentable-icons opentable-style-dark tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light native-currency-code-usd collection-type-page collection-6719d492c1d7644f3ed8779a collection-layout-full-width homepage mobile-style-available sqs-seven-one',
};
---
<!DOCTYPE html>
<html lang={htmlAttrs.lang} class={htmlAttrs.class} xmlns:og={htmlAttrs.xmlnsOg} xmlns:fb={htmlAttrs.xmlnsFb}>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- This is Squarespace. --><!-- grouse-fuchsia-65pw -->
    <!--<base href="">--><base href="." />

    <title>Expert Tutoring for the ACT and SAT</title>
    <meta http-equiv="Accept-CH" content="Sec-CH-UA-Platform-Version, Sec-CH-UA-Model" />
    <link rel="icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/6719d488c1d7644f3ed87605/f9b991be-6150-45fb-9276-f2464992f9d7/favicon.ico?format=100w" />
    <link rel="canonical" href="https://www.hasantutoring.com/" />
    <meta property="og:site_name" content="Expert Tutoring for the ACT and SAT" />
    <meta property="og:title" content="Expert Tutoring for the ACT and SAT" />
    <meta property="og:url" content="https://www.hasantutoring.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="ACT tutoring and SAT tutoring in Kansas City and Overland Park. A source for free ACT Practice Tests and free SAT Practice Tests." />
    <meta property="og:image" content="https://static1.squarespace.com/static/6719d488c1d7644f3ed87605/t/6719d493c1d7644f3ed877c5/1400545057925/HASAN+TUTORING-logo.png?format=1500w" />
    <meta property="og:image:width" content="1500" />
    <meta property="og:image:height" content="384" />
    <meta itemprop="name" content="Expert Tutoring for the ACT and SAT" />
    <meta itemprop="url" content="https://www.hasantutoring.com" />
    <meta itemprop="description" content="ACT tutoring and SAT tutoring in Kansas City and Overland Park. A source for free ACT Practice Tests and free SAT Practice Tests." />
    <meta itemprop="thumbnailUrl" content="https://static1.squarespace.com/static/6719d488c1d7644f3ed87605/t/6719d493c1d7644f3ed877c5/1400545057925/HASAN+TUTORING-logo.png?format=1500w" />
    <link rel="image_src" href="https://static1.squarespace.com/static/6719d488c1d7644f3ed87605/t/6719d493c1d7644f3ed877c5/1400545057925/HASAN+TUTORING-logo.png?format=1500w" />
    <meta itemprop="image" content="https://static1.squarespace.com/static/6719d488c1d7644f3ed87605/t/6719d493c1d7644f3ed877c5/1400545057925/HASAN+TUTORING-logo.png?format=1500w" />
    <meta name="twitter:title" content="Expert Tutoring for the ACT and SAT" />
    <meta name="twitter:image" content="https://static1.squarespace.com/static/6719d488c1d7644f3ed87605/t/6719d493c1d7644f3ed877c5/1400545057925/HASAN+TUTORING-logo.png?format=1500w" />
    <meta name="twitter:url" content="https://www.hasantutoring.com" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="ACT tutoring and SAT tutoring in Kansas City and Overland Park. A source for free ACT Practice Tests and free SAT Practice Tests." />
    <meta name="description" content="ACT tutoring and SAT tutoring in Kansas City and Overland Park. A source 
for free ACT Practice Tests and free SAT Practice Tests." />
    <link rel="preconnect" href="https://images.squarespace-cdn.com/" />
    <link rel="preconnect" href="https://use.typekit.net/" crossorigin />
    <link rel="preconnect" href="https://p.typekit.net/" crossorigin />
    <script type="text/javascript" src="/Homepage_files/kQLYMGJF8zwYb4RcPL1Ul1AxDScxnpUYMtZdAtIU_qbfeCGgfFHN4UJLFRbh52jhWDjawQ8qF26tjDBqFDjXFejDZAbtFDj3FsGMJ6U3ScNt-AuyOAozicIKIcBqdh48OAiyScBldhoqOWgkdkG4f5J7IMMjMkMfH6qJn3IbMg6IJMJ7f6K3UMIbMg6BJMJ7fbKlMsMMeMj6MKG4fJCgIMMjgkMfH6qJn6IbMg6bJMJ7fbKwMsMMegI6MKG4.js" async fetchpriority="high" onload="try{Typekit.load();}catch(e){} document.documentElement.classList.remove('wf-loading');"></script>
    <script type="text/javascript" crossorigin="anonymous" defer nomodule src="/Homepage_files/legacy.js"></script>
    <script type="text/javascript" crossorigin="anonymous" defer src="/Homepage_files/modern.js"></script>
    <script crossorigin="anonymous" src="/Homepage_files/extract-css-runtime-a3184029d7372604-min.en-US.js" defer></script>
    <script crossorigin="anonymous" src="/Homepage_files/extract-css-moment-js-vendor-6f2a1f6ec9a41489-min.en-US.js" defer></script>
    <script crossorigin="anonymous" src="/Homepage_files/cldr-resource-pack-7a2fb19c02b976ee-min.en-US.js" defer></script>
    <script crossorigin="anonymous" src="/Homepage_files/common-vendors-stable-fbd854d40b0804b7-min.en-US.js" defer></script>
    <script crossorigin="anonymous" src="/Homepage_files/common-vendors-e53e61d033c6b73f-min.en-US.js" defer></script>
    <script crossorigin="anonymous" src="/Homepage_files/common-b2d5e74c32aa85d9-min.en-US.js" defer></script>
    <script crossorigin="anonymous" src="/Homepage_files/user-account-core-d7447d1742d8f0c9-min.en-US.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/Homepage_files/user-account-core-deec763d109d5251-min.en-US.css" />
    <script crossorigin="anonymous" src="/Homepage_files/performance-bc4a73425861a466-min.en-US.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/Homepage_files/website.components.button.styles.css" />
    <script defer src="/Homepage_files/website.components.button.visitor.js"></script>
    <script defer src="/Homepage_files/818.js"></script>
    <script defer src="/Homepage_files/block-animation-preview-manager.js"></script>
    <script defer src="/Homepage_files/trigger-animation-runtime.js"></script>
    <link rel="stylesheet" type="text/css" href="/Homepage_files/site.css" />
    <!-- End of Squarespace Headers -->
    <link rel="stylesheet" type="text/css" href="/Homepage_files/static.css" />
    <script is:inline>{mainScriptContent}</script>
  </head>
  <body {...bodyAttrs}>
    <slot />
  </body>
</html>
